{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 8 Hadi</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron bg-jumbotron text-dark rounded-0 m-0">
    <div class="container">
        <h1 class="display-4">Pencarian Buku</h1>
        <p class="lead">Database provided by Google API</p>
        <hr class="my-4">
        <p>Silakan mencari buku yang Anda inginkan</p>
        <p class="lead">
        <div class="d-flex">
            <input type="text" id="book-form" class="form-control w-25 mr-1" placeholder="Book Title">
            <button class="btn btn-primary" id="find-btn" role="button">Search</button>
        </div>
        </p>
    </div>
</div>

<section class="bg-section text-light p-3 result-section">
    <h3 class="text-center p-0 m-0">Search Results (<span id="found-amount"></span>):</h3>
    
    <div class="d-flex flex-column align-items-center text-light" id="book-list">

        <h1 class="m-5 text-light">After clicking "search", the result will be displayed here</h1>

    </div>
</section>

<script src="{% static 'js/script_story8_app.js' %}"></script>
{% endblock content %}