/* Project-wide style */

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

.bg-navbar {
  background-color: #81717a;
}

.home-height {
  min-height: calc(100vh - 56px);
  background-color: #b4d4ee;
}

.bg-foto {
  background-color: #a7abdd;
}

.bg-content {
  background-color: #9d8ca1;
}

.bg-jumbotron {
  background-color: #b4d4ee;
}

.bg-section {
  background-color: #9993b2;
}

.book-cover {
  height: 179px;
  width: 128px;
}

.result-section {
  min-height:250px;
}

.bg-title-card {
  background-color: #81717a;
}

.bg-content-card {
  background-color: #9d8ca1;
}