{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Enable jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    {% if is_story7_app == True %}
    <a class="navbar-brand text-light" href="#">Story 7 Hadi</a>
    {% elif is_story8_app == True %}
    <a class="navbar-brand text-light" href="#">Story 8 Hadi</a>
    {% elif is_story9_app == True %}
    <a class="navbar-brand text-light" href="#">Story 9 Hadi</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if is_story9_app != True %}
          <a class="nav-item nav-link active text-light" href="#"> Home <span class="sr-only">(current)</span></a>
        {% else %}
          <a class="nav-item nav-link text-light" href="{% url 'story7_app:home' %}"> Story 7 </a>
          <a class="nav-item nav-link text-light" href="{% url 'story8_app:home' %}"> Story 8 </a>
        {% endif %}
        {% if is_story7_app == True %}
          <a class="nav-item nav-link text-light" href="{% url 'story8_app:home' %}"> Story 8 </a>
        {% elif is_story8_app == True %}
          <a class="nav-item nav-link text-light" href="{% url 'story7_app:home' %}"> Story 7 </a>
        {% endif %}
        {% if request.user.is_authenticated %}
          <a class="nav-item nav-link text-light"> Welcome, {{ username }} </a>
          <a class="nav-item nav-link text-light" href="{% url 'story9_app:logout_function' %}"> Logout </a>
        {% elif not request.user.is_authenticated %}
          <a class="nav-item nav-link text-light"  href="{% url 'story9_app:register_function' %}"> Register </a>
          <a class="nav-item nav-link text-light"  href="{% url 'story9_app:login_function' %}"> Login </a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
