{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7 Hadi</title>
{% endblock meta %}

{% block content %}
<div class="home-height">
  <section class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12 home-height d-flex justify-content-center align-items-center flex-column">
        <img class="w-75 bg-foto p-2 rounded-lg" src="{% static 'images/fotodiri.jpg'%}" alt="Foto diri">
        <div class="mt-3 bg-foto p-2 rounded-lg">
          Hi, my name's Hadi!
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 home-height p-2 d-flex justify-content-center align-items-center flex-column">
        <div id="accordion">
          <h3 position="0" class="p-2 m-0 bg-foto">
            Siapa Saya?
            <span class="mx-1 float-right down" id="down">
              Down
            </span>
            <span class="mx-1 float-right up" id="up">
              Up
            </span>
          </h3>
          <p position="0" class="p-1 m-0 bg-content text-light">
            Mahasiswa tingkat dua Fasilkom UI. Saat ini sedang berusaha survive di semester 3 :')
          </p>
          <h3 position="1" class="p-2 m-0 bg-foto">
            Pengalaman dan Organisasi?
            <span class="mx-1 float-right down" id="down">
              Down
            </span>
            <span class="mx-1 float-right up" id="up">
              Up
            </span>
          </h3>
          <p position="1" class="p-1 m-0 bg-content text-light">
              Tim BFC Kemasyarakatan, 2017-2018
              <br>
              Pesta Rakyat Komputer, 2020
              <br>
              Staf Departemen Sosial Masyarakat FUKI Fasilkom UI, 2020-sekarang
              <br>
              Staf Akademis PMB Fasilkom UI 2020, 2020-sekarang
              <br>
              Staf Acara SIWAK-NG 2020
          </p>
          <h3 position="2" class="p-2 m-0 bg-foto">
            Prestasi?
            <span class="mx-1 float-right down" id="down">
              Down
            </span>
            <span class="mx-1 float-right up" id="up">
              Up
            </span>
          </h3>
          <p position="2" class="p-1 m-0 bg-content text-light">
            Soon enough. Let's go!
          </p>
          <h3 position="3" class="p-2 m-0 bg-foto">
            Contact Me!
            <span class="mx-1 float-right down" id="down">
              Down
            </span>
            <span class="mx-1 float-right up" id="up">
              Up
            </span>
          </h3>
          <p position="3" class="p-1 m-0 bg-content text-light">
            Kindly contact me in <span><a href="https://www.instagram.com/_hadipratama768/" class="text-dark">Instagram</a></span> atau <span><a href="https://line.me/ti/p/r3BU2vFGwr" class="text-dark">LINE</a></span>
          </p>
        </div>
      </div>
    </div>

  </section>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
