{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9 Hadi</title>
{% endblock meta %}

{% block content %}
<section class="d-flex justify-content-center align-items-center text-dark flex-column home-height">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible show fade" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'story9_app:login_function' %}" class="login-form bg-light rounded-lg d-flex flex-column justify-content-center p-4">
        <h3 class="text-center mb-3">Login</h3>
        {% csrf_token %}
        {{ login }}
        <button type="submit" id="btn_login" class="btn btn-primary">Login</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Don't have an account? =><a class="text-dark"href="{% url 'story9_app:register_function' %}"> Create a new one here</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}